.grid-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host {
  display: block;
}

.wrapper {
  padding: 15px;
  display: block;
  height: 100%;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
