<div class="wrapper">
  <div class="grid-container" [style]="{
            justifyContent: isSmallScreen ? 'flex-start': 'center'
       }">
    <mat-grid-list
      [cols]="isSmallScreen ? 2 : 4"
      rowHeight="2:1"
      gutterSize="15px">
      <mat-grid-tile *ngFor="let category of categories" [colspan]="1" [rowspan]="1">
        <button mat-button [routerLink]="['/category', category.id]"
                [state]="{ data: {title: 'Category', subtitle: category.name} }"
                [style]="{textAlign: 'center', backgroundColor: category.color}">
          <strong>{{category.name}}</strong>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<app-create-article-fab></app-create-article-fab>

