<div class="wrapper">
  <h4 class="mat-h1">Pick a category to start</h4>
  <div class="grid-container" [style]="{
            justifyContent: 'flex-start'
       }">
    <mat-grid-list
      [cols]="isSmallScreen ? 1 : 3"
      [rowHeight]=" isSmallScreen ? '1:1' :'2:1'"
      gutterSize="15px">
      <mat-grid-tile *ngFor="let category of categories" [colspan]="1" [rowspan]="1">
        <mat-card class="card-item">
          <button mat-button [routerLink]="['/category', category.id]"
                  [routerLinkActive]="'active'"
                  [state]="{ data: {title: 'Category', subtitle: category.name} }"
                  [style]="{textAlign: 'center', backgroundColor: category.color}">
            <strong>{{category.name}}</strong>
          </button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<app-create-article-fab></app-create-article-fab>

