<mat-card>
  <mat-card-header>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{article.content}}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions" *ngIf="article.editable">
    <button mat-raised-button color="accent" (click)="edit(article)">
      <mat-icon
        aria-hidden="false"
        aria-label="Edit icon">
        edit
      </mat-icon>
      Edit
    </button>
    <button mat-raised-button color="accent" (click)="delete(article.id)">
      <mat-icon
        aria-hidden="false"
        aria-label="Delete icon">
        delete
      </mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
